:root{
    --main-color:#1C40A5;
    --second-color:#FF8A04;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
}
.call{
    position: fixed;
    top: 50%;
    right: 3%;
    z-index: 100;
    transform: translateY(-50%);
}
.call i{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.call i:first-child{
    background-color: green;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.call i:last-child{
    background-color: #3CD6BC;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes scale {
    0% {
       scale: 1;
    }
    50% {
        scale: 1.25;
    }
    100%{
        scale: 1;
    }
}
header{
    background: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 93vh;
}
#brand{
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
}
.nav-link{
    font-weight: bold;
}
.links i{
    font-size: 22px;
    color: var(--main-color);
}
header section span{
    color: var(--second-color);
}
.about .about-head{
    color:green;
    font-size: 25px;
}
.about span{
    color: var(--main-color);
}
.about p{
    font-size: 22px;
}
.choose-us h2{
    color: var(--main-color);
}
.choose-us .item{
    background-color: #eee;
    border-radius: 10px;
    padding:  10px 10px 0 10px;
}
.choose-us .item i{
    font-size: 25px;
    color: var(--main-color);
}

.timeline {
    position: relative;
    /* overflow: hidden; */
}
.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--main-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.cont {
    width: 50%;
    padding: 10px 30px;
    position: relative;
}
.cont h5{
    color: #fff;
}

.left:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--main-color);
    right: -17px;
    z-index: 9;
    top: 15px;
}
.right:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--main-color);
    left: -17px;
    z-index: 9;
    top: 15px;
}

.content {
    background: var(--main-color);
    padding: 20px 30px;
    border-radius: 5px;
}

.left {
    left: -50.5%;
}

.right {
    left: 0.5%;
}

/* traingle */

.left:before {
    content: '';
    position: absolute;
    width : 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid var(--main-color);
    border-bottom: 10px solid transparent;
    right: 10px;
    top: 22px;
}

.right:before {
    content: '';
    position: absolute;
    width : 0;
    height: 0;
    border-right: 10px solid var(--main-color);
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 10px;
    top: 22px;
}

/* media */ 

@media(max-width:600px) {
    .timeline:after {
        left: 20px;
    }
    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }
    .right:after {
        left: 5px;
    }
    .right ,.left{
        left: 0;
    }
    .left:after {
        right: calc(100% - 35px);
    } 
    
     .right:before {
        border-right: 10px solid var(--main-color);
        border-top: 10px solid transparent ;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: 50px;
        top: 22px;
    }
    .left:before {
        border-right: 10px solid var(--main-color);
        border-top: 10px solid transparent ;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: calc(100% - 70px);
        top: 22px;
    }
}
.services{
  background: url(./section.jpeg);
}
.next,.prev{
    position: absolute;
    font-size: 30px;
    top: 60%;
    cursor: pointer;
    color: #fff;
}
  .next{
    right: 5%;
  }
  .prev{
    left:5%;
  }
.icons{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80%;
    margin: auto;
  }
  .icons::-webkit-scrollbar {
    display: none;
  }
.icon{
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
}
.icon i{
    font-size: 40px;
    padding-top: 30%;
}
.icons h5{
    color: #fff;
    margin-left: 50px;
}
.details h2{
    color: var(--main-color);
}
.details i{
    color: var(--main-color);
}
footer{
    background-color: var(--main-color);
}
/* content: '\f1cd';
font-weight: 900;
color: #fff;
padding-top: 2px;
font-family: "Font Awesome 6 Free"; */